<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/af39a75437.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo.svg" class="logo">
            <input type="text" placeholder="Buscar productos, marcas" class="search">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="http://localhost:3000/register">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="http://localhost:3000/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        
    </header>

    <main>
        <div class="banner">
            <img src="/images/home-banner.jpg">
        </div>

        <h2 class="titulo-section">Basado en tu última visita</h2>

    <section>
        <article class="product">
            <img src="/images/cafetera.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h2>Cafetera Moulinex</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/macbook.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <P class="precio">$230.000</P>
            <p class="descuento">20% OFF</p>
            <h2>MacBook Pro 2019</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/s10.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h2>Samsung Galaxy S10</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/smart.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <h2>SmartTv Samsung 43''</h2>
        </div>
        </article>
    </section>

    <h2 class="titulo-section">Ofertas</h2>

    <section>
        <article class="product">
            <img src="/images/cafetera.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <h2>Cafetera Moulinex</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/macbook.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <P class="precio">$230.000</P>
            <p class="descuento">20% OFF</p>
            <h2>MacBook Pro 2019</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/s10.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <h2>Samsung Galaxy S10</h2>
        </div>
        </article>
        <article class="product">
            <img src="/images/smart.jpg" alt="">
        <div class="descripcion">
            <i class="fa-solid fa-truck"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <h2>SmartTv Samsung 43''</h2>
        </div>
    </section>

    </main>

    <footer>
        <div class="footer-section">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-section">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-section">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div class="footer-section">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>
</html>